body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  margin-left: 1rem;
}

.logo {
  width: 100px;
  height: auto;
}

.navbar {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0 2rem;
  padding: 0;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-item a {
  color: #333;
  text-decoration: none;
  transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-item a:hover {
  color: #1481BA;
  font-size: 1.1rem;
}

.hero-image {
  background-image: "transparentRunway.png";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.subtext {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #666;
}

section {
  background-color: #f9f9f9;
  padding: 40px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

.subsection {
  background-color: #fff;
  padding: 40px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subsection + .subsection {
  margin-top: 50px;
}


